PYTHONUNBUFFERED=1

# Root dirs
DASHBOARD_API_ROOT_DIR=
DASHBOARD_FRONT_ROOT_DIR=

# Services
DASHBOARD_API_SERVICE=
MC_SERVER_SERVICE=

# Minecraft server
MC_SERVER_ROOT_DIR=
MC_SERVER_HOST=
MC_SERVER_PORT=

# Backend app config
DASHBOARD_API_URL=
DASHBOARD_ALLOWED_ORIGINS=

# Backend auth
DASHBOARD_USER=
DASHBOARD_PASSWORD=
